* {
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  flex: 0.5;
  align-items: center;
  padding-left: 10px;
}

.logo-1 {
  width: 50px;
  height: 60px;
  border-radius: 50%;
}

button {
  border-radius: 15px;
  border: none;
  background: #ffffff;
  width: 100px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
button a {
  text-decoration: none;
  padding: 10px;
  color: #000000;
}

button:hover {
  cursor: pointer;
  background: #faa97d;
}

nav {
  display: flex;
  background: #230085;
  padding: 5px;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav .nav {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav ul {
  display: flex;
  gap: 20px;
}
nav .nav ul li {
  list-style: none;
}
nav .nav ul li:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
nav .nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
nav .nav ul li a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: orange;
}
nav .sign-up {
  flex: 0.5;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}
nav .sign-up button:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

@media (max-width: 500px) {
  nav .logo {
    margin: 0;
    padding: 0;
    flex: 0.1;
  }
  nav .nav {
    flex: 1;
  }
  nav .nav ul li {
    font-size: 8px;
    display: flex;
    gap: 5px;
  }
  nav .sign-up {
    flex: 0.2;
    padding: 0;
  }
  nav .sign-up button {
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 40px;
  }
  nav .sign-up button a {
    padding: 0;
    font-size: 6px;
  }
  .title h1 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 10px;
  }
  h4, h5 {
    font-size: 8px;
  }
  .a, p {
    font-size: 8px;
  }
}
footer {
  background: #230085;
  display: flex;
  gap: 50px;
  padding: 30px;
}
footer select {
  padding: 10px;
}
footer .foot-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
footer .foot-1 a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 10px;
}
footer h4 {
  color: #ffffff;
  padding-bottom: 10px;
  margin: 0;
}

body {
  height: 100vh;
  font-family: sans-serif;
}

#contact {
  color: orange;
  border-bottom: 2px solid;
}

main .pic {
  width: 100%;
  height: 300px;
  background-image: url(../images/contact1.jpg);
  background-size: 100%;
  background-position: center;
}
main .map iframe {
  border-radius: 15px;
  height: 635px;
}
main .contact {
  display: flex;
  padding: 2%;
  gap: 10px;
}
main .form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .form .send {
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
main .form .send .name {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
main .form .send .name input {
  border-radius: 15px;
  border: none;
  border-bottom: 1px solid;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
main .form .send .name textarea {
  width: 100%;
  border-radius: 15px;
}
main .form .send .check {
  width: 100%;
}
main .form .send button {
  width: auto;
  background: #230085;
  color: #ffffff;
}
main .form .send button:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: orange;
}
main .form .send .sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

@media (max-width: 500px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact .map {
    display: none;
  }
}
@media (max-width: 800px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact .map {
    width: 100%;
  }
  .contact .map iframe {
    width: 100%;
  }
}/*# sourceMappingURL=contact.css.map */