$main-color: #230085;
$main1-color: #5f24ffe9;
$hover-color:#faa97d;
$text-color: #ffffff;
$btn-color: #000000;
$border-reduce: 15px;
$bg-color:#ffffff;
$font-text: sans-serif;
$bg-b-color: #fdf1e1;
$bg-card-color: #C4BAE1;
$bg-main:rgb(255, 232, 232);